.paymentMakeContainer{
    flex: 4;
    background-color: #F6F7F6;
}

.paymentConts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.patId{
}

.patText{
    margin-top: 15px;
    width: 450px;
    padding: 5px;

}

.btnPay{
    background-color: blue;
    color: white;
    padding: 10px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}

.checkAmnt{
    margin-top: 20px;

}

.amntPay{
    display: flex;
    flex-direction: column;

}

.AmntTot{
    margin-bottom: 10px;

}

.recAmnt{
    background-color: green;
    color: white;
    padding: 10px;
    border: none;

}

.makeContainer{
    margin-top: 20px;
    background-color: white;
    box-shadow: 2px 2px 5px 10px rgba(229,229,229,0.75);
    -webkit-box-shadow: 2px 2px 5px 10px rgba(229,229,229,0.75);
    -moz-box-shadow: 2px 2px 5px 10px rgba(229,229,229,0.75);
    height: 250px;
}