.sideContainer{
    flex: 0.7;
    height: calc(100vh - 50px);
    top: 0%;
    padding: 20px;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logoDash{
    height: 60px;
    width: 60px;

}

.sideBar{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.centerBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.topBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.line{
    color: brown;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 0.05px;
    background-color: gray;
    
}

.name{
    color: black;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.options{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 15px;

}

.unordered{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;

}

.lnk{
    text-decoration: none;
    color: black;


}

.optionOne{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    color: black;
    text-decoration: none;
    align-items: center;
    margin-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -30px;
    border-radius: 10px;
}

.optionOne.active{
    background-color: #F8F3FF;
    color: #622FB9;
}


.optionOne:hover{
    background-color: #F8F3FF;
    color: #622FB9;
}

.iconName{
    color: black;
    font-weight: bold;
}

.divIcons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
}

.lnkName{
    color: black;
}

.titleList{
    color: black;
    font-weight: bold;
}
