.sideContainer{
    flex: 0.7;
    height: 100%;
    top: 0%;
    padding: 20px;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #212F3D; 
}

.logoDash{
    

}

.logoHolder{
    border-radius: 50%;
    background-color: white;
    padding: 22px;
    flex-grow: initial;
}

.sideBar{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.centerBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.topBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.line{
    color: brown;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 0.05px;
    background-color: gray;
    
}

.name{
    color: white;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.options{
    width: 100%;
    height: auto;
    justify-content: start;
    margin-top: 15px;

}

.unordered{
    width: 100%;
    height: auto;
    padding: 0%;

}

.unordered .optionOne{
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: black;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.optionOne .lnk{
    font-size: 13px;
    text-decoration: none;
    color: white;
}

.optionOne .lnkIcon{
    flex: 30%;
    height: 17px;
    width: 17px;
    display: grid;
    place-items: center;
    text-decoration: none;
    color: white;
}

.optionOne .iconName{
    flex: 70%;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
}

.optionOne.active{
    background-color: #293846;
    color: #622FB9;
}


.unordered .optionOne:hover{
    background-color: #293846;
    color: #622FB9;
}

.divIcons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
}

.lnkName{
    color: black;
}

.titleList{
    color: black;
    font-weight: bold;
}
