.containerRegister{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 5px 10px rgba(229,229,229,0.75);
    -webkit-box-shadow: 2px 2px 5px 10px rgba(229,229,229,0.75);
    -moz-box-shadow: 2px 2px 5px 10px rgba(229,229,229,0.75);
    padding: 20px;
}

.avatar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imageLogo{
    height: 90px;
    width: 90px;
}

.headingRegister{
    text-align: center;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inputs{

}

.formLogin{

}

.nameSection{
    display: flex;
    flex-direction: row;


}

.firstN{
    margin-right: 5px;

}

.lastN{
    margin-right: 5px;

}

.inputSelect{
    width: 322px;
    background-color: white;
    padding: 10px;
    justify-content: center;  
    margin-top: 2%; 
    border: 1px solid black;

}

.inputRegister{
    width: 300px;
    background-color: white;
    padding: 10px;
    justify-content: center;  
    margin-top: 2%; 
    border: 1px solid black;
}

.inputRegister:focus{

}

.labelText{
    font-size: 15px;

}

.labelRegister{
    font-size: 15px;

}

.btnSubmitRegister{
    background-color: blue;
    border: none;
    width: 100%;
    color: white;
    padding: 13px;
    cursor: pointer;
    margin-top: 18px;
}

.btnSubmitRegister:hover{
    background-color: white;
    border: 1px solid blue;
    color: blue;
    
}

.admin{
    text-decoration: none;
    color: black;
}

.rightRegister{
    margin-top: 2%;
}